html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Staatliches';
}

.game-counter {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: rgb(145, 120, 128);
    opacity: .8;
    transition: color 1s;
}

.game-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity .2s;
}

.game-modal--active {
    opacity: 1;
}

.game-modal__content {
    padding: 40px;
    margin: 40px;

    background: white;
}